# PostgreSQL Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=phototeg
POSTGRES_HOST_PORT=5433

# Server Configuration (бэкенд на сервере: порт 4001)
SERVER_PORT=4001
DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/phototeg?schema=public
JWT_SECRET=super-secret-nobody-can-crack

# Client Configuration (фронтенд на сервере: порт 4000)
CLIENT_PORT=4000
VITE_API_URL=https://api.phototeg.lilv2dim.ru/api

# OAuth / External Services
OAUTH_TOKEN=y0__wgBEOzLj7kFGPyCRiCr7J6zGDCY7fTdB2yaM2IUPHEfBByk_A3cypK3uce0
