# PostgreSQL Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=phototeg
POSTGRES_PORT=5432

# Server Configuration
SERVER_PORT=4000
DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/phototeg?schema=public
JWT_SECRET=super-secret-nobody-can-crack

# Client Configuration
CLIENT_PORT=3000
VITE_API_URL=http://localhost:4000/api

# OAuth / External Services
OAUTH_TOKEN=y0__wgBEOzLj7kFGPyCRiCr7J6zGDCY7fTdB2yaM2IUPHEfBByk_A3cypK3uce0
